<?xml version="1.0"?>
<config>
    <modules>
        <Jamersan_Productwarranty>
            <version>0.1.0</version>
        </Jamersan_Productwarranty>
    </modules>
    <frontend>
        <routers>
            <productwarranty>
                <use>standard</use>
                <args>
                    <module>Jamersan_Productwarranty</module>
                    <frontName>productwarranty</frontName>
                </args>
            </productwarranty>
        </routers>
        <layout>
            <updates>
                <productwarranty>
                    <file>productwarranty.xml</file>
                </productwarranty>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <productwarranty>
                <use>admin</use>
                <args>
                    <module>Jamersan_Productwarranty</module>
                    <frontName>productwarranty</frontName>
                </args>
            </productwarranty>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productwarranty>
                    <file>productwarranty.xml</file>
                </productwarranty>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <productwarranty>
                <class>Jamersan_Productwarranty_Model</class>
                <resourceModel>productwarranty_mysql4</resourceModel>
            </productwarranty>
            <productwarranty_mysql4>
                <class>Jamersan_Productwarranty_Model_Mysql4</class>
                <entities>
                    <productwarranty>
                        <table>productwarranty</table>
                    </productwarranty>
                    <products>
                        <table>productwarranty_products</table>
                    </products>
                </entities>
            </productwarranty_mysql4>
        </models>
        <resources>
            <productwarranty_setup>
                <setup>
                    <module>Jamersan_Productwarranty</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productwarranty_setup>
            <productwarranty_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productwarranty_write>
            <productwarranty_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productwarranty_read>
        </resources>
        <blocks>
            <productwarranty>
                <class>Jamersan_Productwarranty_Block</class>
            </productwarranty>
        </blocks>
        <helpers>
            <productwarranty>
                <class>Jamersan_Productwarranty_Helper</class>
            </productwarranty>
        </helpers>
    </global>
</config>